.container {
    display: flex;
    height: 100vh;
    width: 100%;
    position: fixed;
    font-family: "Lora";
}
.imgContainer{
    height: 100vh;
    width: 40%;
    position: relative;
}
.imgContainer img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.mainContent{
    width: 60%;
    padding: 100px 10% 20px 10%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #FCFAFA;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}

.mainHeader{
    font-size: 2.5rem;
    font-weight: bold;
    color: #462412;
    margin-bottom: 0;
}
.chooseLanguage{
    display: flex;

}
.chooseLanguage h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin-right: 10px;
    color: #A02323;
    margin-top: 0;
}
.selector{
    text-decoration: underline;
    cursor: pointer;
}
.languageContainer{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.languageList{
    position: absolute;
    width: 40%;
    max-height: 400px;
    overflow: auto;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #FCFAFA;
    border-radius: 40px;
    box-shadow:  1px -1px 10px #000000;
    border: 20px transparent solid;
}
.languageList::-webkit-scrollbar {
    width: 15px;
    height: 8px;
    border-radius: 10px;
    background-color: #c4c4c4be;
    
}
.languageList::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
}
.languageListSelect{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;
}
.languageListSelect:hover{
    background-color: rgba(173, 173, 173, 0.375);
}
.languageListSelect:active{
    background-color: rgba(173, 173, 173, 0.5);
    scale: 0.9;
}
.languageListSelect img{
    width: 40px;
    height: 40px;
    border: #000000 1px solid;
    border-radius: 50%;
}
.languageListSelect h3{
    font-size: 1.5rem;
    margin-left: 10px;
}

@media screen and (max-width: 768px){
    .container{
        flex-direction: column;
        overflow: auto;
        position: relative;
    }
    .imgContainer{
        width: 100%;
        height: 40vh;
    }
    
    .mainContent{
        width: auto;
        height: 60vh;
        padding: 50px 10% 0 10%;
        overflow: visible;
    }
    .mainHeader{
        font-size: 1.5em;
        width: 300px;
    }
    .chooseLanguage h1{
        font-size: 1.5em;
        white-space: nowrap;
    }
    .languageList{
        width: 60%;
        left: 0;
    }
    .languageListSelect img{
        width: 30px;
        height: 30px;
    }
    .languageListSelect h3{
        font-size: 1.2rem;
    }
    
}